TITLE=asdf=
GRAPHTYPE=3DTRISURF=
BW=False=
LEGENDNAMES==
FILELIST=./stencil_2d_rect_tiled_schedule_static_28T.grid=
CODE=./3dstencil2d.py=
NUMTHREADS=1=
XAXLABEL=Number of Data Spaces=
YAXLABEL=Working Set Size (MiB)=
ZAXLABEL=Memory Bandwidth (GiB/s)=
XBASE=0=
XLIM=60000=
YBASE=0=
YLIM=200=
ZBASE=0=
ZLIM=2000=
YINV=False=
XINV=True=
MAJORTICKX=10000=
MINORTICKX=10=
MAJORTICKY=20=
MINORTICKY=600=
MAJORTICKZ=300=
MINORTICKZ=10=
CUSTOMLINEFILES==
CUSTOMLINECODEFILES==
VERTLINES=2=
VERTLINESTYLES=-=
VERTLINELABELS=None=
SHOWFIG=True=
